<div class="column-container">
	<h3>ALEX SHIGO</h3>

	<div class="col-1-3">
		<h4 class="title">Obituary</h4>
		<p>You may read the obituary for Alex Shigo and view a guest book of submitted comments at <%= link_to "Legacy", 'http://www.legacy.com' %></p>
		<hr>
		
		<h4 class="title">Publications List</h4>
		<p>This <%= link_to "FIX ME!!!!!!!", '#' %> is a comprehensive list of the books, articles, technical works and publications of Dr. Shigo.</p>
		<hr>
		
		<h4 class="title">Tribute to Dr. Shigo</h4>
		<p>"Tree Care Industry Magazine" printed a <%= link_to "Tribute to the Legendary Dr. Alex Shigo", 'http://tcia.org/PDFs/TCI_Mag_Nov_06.pdf' %> in their November 2006 issue.  Read about his <em>Undaunted Enthusiasm</em>, as well as his <em>Connections... With Trees and People.</em></p>
		<hr>

		<h4 class="title">National Arts Club</h4>
		<p>If you are in New York, please visit the <%= link_to "National Arts Club", 'http://www.nationalartsclub.org/' %> at 15 Gramercy Park South in Manhattan.  There, hanging in the Gregg Gallery and in adjacent hallways, are a series of quotations by Alex Shigo on tree care and philosophy.  This display was created in support of Arbor Day and has become a permanent exhibit.</p>
	</div>
	
	<div class="col-2-3">
		<%= image_tag 'dralexshigo2.gif', alt: 'Alex Shigo', class: 'shigo-right' %>
		<p class="date">May 8, 1930 - October 6, 2006</p>
		<p>
			DUBBED THE "FATHER OF MODERN ARBORICULTURE", Dr. Alex Shigo has spent most of his adult life studying, lecturing, dissecting and writing about trees. "A tree is much more than a chunk of dead wood," exclaims Shigo. "Trees are alive; they live all year 'round, not just for a short time in the summer." They work during the winter, too. Many people spend time on what goes wrong with a tree; I wanted to study what goes right."
		</p>
		<p>
			Shigo was born at the height of the depression in 1930, in Duquesne, Pennsylvania. Attending Waynesburg College in Southwestern Pennsylvania, he received his Bachelor of Science degree in biology. Music was also a part of Shigo's life; he plays a mean clarinet. But his future plans were interrupted by the Korean War; he served in the Air Force and was in the official Air Force Band. After the war, Shigo continued his study of botany, biology and genetics, working as a lab assistant for Dr. Charles Bryner, his biology teacher at Waynesburg College.  Bryner expected quite a bit from Shigo, admonishing him whenever he missed a question, Shigo recalls. "It helped me become more disciplined," he quips.
		</p>	
		<p>
			 Shigo furthered his education at the University of West Virginia, receiving a master's degree in biology in 1958, and a Ph.D. in pathology in 1960. He completed the doctorate so quickly because he started working on his Ph.D research at the same time he was working on his master's - "a loop- hole the university quickly closed," recalls Shigo.
		</p>
		<p>
			His career as a pathologist began with the U.S. Forest Service later that year. "I was a creature of opportunities," Shigo notes. "Until the 1950s there were only big two-man chain saws; then a manageable, one-man chain saw was developed. One of my assignments for the U.S. Forest Service was to learn more about tree decay. So I went out and started to dissect trees."
		</p>
		<p>
			Shigo had never handled a chain saw before. Even so, he wasn't satisfied with the cross-cut or transverse type of dissection that other pathologists favored. "Such dissection provides only a part of a tree's story," remarks Shigo.
		</p>
		<p>
			His idea was to dissect trees longitudinally as well. As a result, he learned that many commonly-held concepts about heart rot and decomposition and other theories were wrong. "I could either go with the book (theories) or go with what I saw in the tree. Either the books were wrong or the trees were wrong. I chose to go with the trees," Shigo says.
		</p>
		<%= image_tag "shigo-historical.jpg", alt:"Shigo in woods", class: "shigo-left" %>
		<p>
			"I started to see trees in a different way because a tree is a living thing," Shigo explains. "When you hit a living thing, it reacts. When YOU hit a tree, it does something. When a tree is threatened, it doesn't just stand there. It establishes boundaries."
		</p>
		<p>
			With these and other theories that go against conventions, Shigo admits he has his detractors, but he also has his admirers. Denne Goldstein, publisher of this magazine [Irrigation & Green Industry], was the founder of Arbor Age magazine. He developed a relationship with Dr. Shigo in the late 1970s. "Alex is one of the most knowledgeable people about trees; he is an exciting lecturer. His enthusiasm is contagious."
		</p>
		<p>
			Not one to mince words, Shigo has earned the respect of the foresters andarborists around the world. "Too many people are working in the fieldwithout an understanding of trees and grass," he observed.
		</p>
		<p>
			 "People should know that trees are generating organisms, instead of re-generating organisms like human beings," Shigo explains. "Trees generate their own food from carbon dioxide, sunlight and water, while human beings must intake food from elsewhere. Therefore, tree food is a misnomer. While such supplements, like fertilizer, provide important elements, they do not provide an energy source," he says.
		</p>
		<p>
			Another example: While humans put new cells in old places countless times during a lifetime, trees continue to put new cells in new places, Shigo explains. Similarly, a tree doesn't heal, because it doesn't replace injured cells with new ones.
		</p>
		<p>
			 In his books and lectures, Dr. Shigo disagrees with other popular theories about trees. Among those theories that Shigo disputes is the idea that trees are mostly dead wood.
		</p>
		<p>
			 Shigo's understanding of trees comes from his years in the U.S. Forest Service. He eventually became chief scientist for the Forest Service and was in demand as a speaker at many conferences, both in the United States as well as around the world, until he retired in 1985.
		</p>
		<p>
			 Not one to sit back and do nothing, he began to write and continued to play music. It wasn't long before calls began coming in from around the world, requesting him to lecture and teach. Shigo began a second career as a lecturer and author, which continues until this day.
		</p>
		<p>
			 "The name Alex Shigo has a become a legend. When he walks into a room, he is the focal point. He has aura that commands respect," commented Goldstein.
		</p>
		<p>
			"Dr. Shigo is one of the warmest people I've met, with a sincere desire to teach what he has learned about trees. 'You have to touch a tree and feel it,' is one of my favorite Shigoisms."
		</p>
		<p>
			Since his retirement, he's written and published many papers, journals, and books, published as Shigo and Trees, Associates. He’s also assembled 5,000 slides from his work during the last 40-plus years onto a CD, “Trees, Associates and Shigo.” Included on the disk are thousands of images of the insides of trees, some so close up that one can see dust mites on an insect.While he's reluctant to discuss exact figures, Shigo said he's sold more than 70 tons of books, enough to cover the driveway of his home several times over. 
		</p>
		<p>
			Shigo and his wife, Marilyn, live in Durham, New Hampshire. They have a son, a daughter, five grandchildren and one great-grandson. 
		</p>
		<hr>
		<p>
			<em>On October 6, 2006 Alex died at home in Barrington. A memorial service was held at The Sugar Shack, site of his local educational workshops, and attended by many who have learned from, worked with, and admired him from around the country and around the world.</em>
		</p>
		<hr>
		<p>
			"There is now an Al Shigo shaped hole in the Universe."
   ~ T. Meekins
		</p>
	</div>
</div>