<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> - Shigo and Trees</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<header>
			<p id="login">Welcome [<%= link_to "Login", "#" %> | <%= link_to "Register", "#" %>] </p>
			<div class="logo"><%= image_tag "HeaderLogo.jpg", alt: "Shigo logo" %></div>
			<nav>
				<ul>
					<li class="gold"><%= link_to "Home", pages_home_path %></li>
					<li class="red"><%= link_to "Alex Shigo", pages_alex_path %></li>
					<li class="purple"><a href="#"><%= link_to "Books", books_path %></a></li>
					<li class="blue"><a href="#">CD's/DVD's</a></li>
					<li class="brown"><a href="#">Pamphlets</a></li>
					<li class="teal"><a href="#">Offshoots</a></li>
					<li class="green"><a href="#">Your Cart</a></li>
				</ul>
			</nav>
			<%= image_tag "HeaderImages.jpg", alt: "Tree images", id: "TreeImages" %>
		</header>
		<div class="info">
			<%= link_to "About Us", pages_about_path %> |
			<%= link_to "How To Place an Order", pages_order_info_path %> |
			<%= link_to "Scholarships", pages_scholarships_path %> |
			<%= link_to "Contact Us", pages_contact_path %>
		</div>
	<%= yield %>
	</div>
</body>
</html>
